body {
  background-color: #f3f2ee;
}

.singleexperience {
  box-shadow: 0.1px 0.1px 2px grey !important;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  top: 100%;
  /* width: 100%; */
  border-radius: 10px;
  background-color: #fff;
}

/* i:hover {
  border-radius: 50%;
  padding: 10px;

  background-color: #8d9bb6;
} */
.square {
  background-color: rgb(37, 136, 136);
  width: 50px;
  height: 50px;
  margin: 10px 0px 10px 10px;
}
.experience {
  height: 10px;
}

.singlepost.leftcomponent {
  /* width: 100%;
  margin-top: 100px;
  box-shadow: 0.1px 0.1px 2px grey !important;
  border-radius: 25px;
  background-color: white; */
  /* border: 0.1px solid grey;
  box-shadow: 0.1px 0.1px 2px grey !important;
  width: 100px;
  padding: 3px;
  border-radius: 30px; */
  margin: 10px;
}

.like {
  border-color: honeydew;
}

/* Left Component */
.backgroundImg {
  background-color: aqua;
  background-size: cover;
  height: 100px;
  width: 100%;
}

.componentOnLeftSide {
  box-shadow: 0.1px 0.1px 2px grey !important;
  width: 100px;
  padding: 3px;
  border-radius: 10px;
  background-color: white;
}

.hovering:hover {
  background-color: lightgrey;
  cursor: pointer;
}
